
  
 
  .main-grid {  
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }

  .skafos-container {  
    overflow: auto;
  }

  .detail-box { 
    display: flex;
    flex-direction: column;  
    height: 100%;   
  }

  .cards-box { 
    display: flex;  
    flex-direction: row; 
    height: 100%;   
    justify-content: center;
  }
  
  
  .main-card-box {  
    display: flex;  
    justify-content: center;   
    width: 100%;    
    height: 100%;
  }

  .event-list-box {
    justify-content: center;
    height: 100%;
    margin-bottom: 300px;
  }